.list {
  animation: fadeIn 0.5s ease-in-out;
  width: 100%;
  margin-bottom: 25px;

  span{
    margin: 0 20px;
    width: 100px;
    display: inline-block;
  }
  
  button{
    margin: 0 20px;
    width: 100px;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
